{{define "component_article_list"}}
<style>
  .component_article_list {
    padding: 6px;
  }

  .component_article_list_article {
    padding-bottom: 24px;
  }

  .component_article_list_article-title {
    font-weight: bold;
  }

  .component_article_list_article-date {
    font-size: 12px;
  }

  .component_article_list_article-tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .component_article_list_article-tag {
    padding-right: 6px;
  }
</style>
{{if .Articles}}
<div class="component_article_list" data-e2e-val="articles">
  {{range .Articles}}
  <div class="component_article_list_article" data-e2e-val="article">
    <div class="component_article_list_article-title" data-e2e-val="article-title">
      <a href="./articles/{{.ID.String}}" data-e2e-val="article-link">
        {{.Title}}
        {{if not .PublishedAt}}
        <span>(Draft)</span>
        {{end}}
      </a>
    </div>
    {{if .PublishedAt}}
    <div class="component_article_list_article-date" data-e2e-val="article-published-at">
      {{.PublishedAt.Format "2006-01-02"}}
    </div>
    {{end}}
    {{if .Tags}}
    <div class="component_article_list_article-tags" data-e2e-val="tags">
      {{range .Tags}}
      <div class="component_article_list_article-tag" data-e2e-val="tag">
        <a href="./articles?tag={{.Name}}" data-e2e-val="tag-link">
          {{.Name}}
        </a>
      </div>
      {{end}}
    </div>
    {{end}}
  </div>
  {{end}}
</div>
{{end}}
{{end}}