<!DOCTYPE html>
<html lang="ja">
<meta name="robots" content="noindex">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
{{template "component_common_head" .}}
<body>
    <header>
        {{template "component_header" .}}
    </header>
    <main>
        <div class="content">
            {{template "component_breadcrumbs" .}}
            <main>
                <div style="padding: 6px;">
                    <a href="/rss" target="_blank">RSS Feed</a>
                </div>
                {{template "component_article_list" .}}
                {{template "component_article_list_pager" .}}
            </main>
        </div>
    </main>
    <footer>
        {{template "component_footer"}}
    </footer>
</body>

</html>