<!DOCTYPE html>
<html lang="ja">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
{{template "component_common_head" .}}

<body>
    <header>
        {{template "component_header" .}}
    </header>
    <main>
        <div class="content" style="padding: 6px;">
            <ul>
                <li>
                    <a href="/admin/articles">記事一覧</a>
                </li>
            </ul>
        </div>
    </main>
    <footer>
        {{template "component_footer"}}
    </footer>
</body>

</html>
